In [1]:
import pandas as pd
import re

In [83]:
# Question 1

string= 'Phython Exercises, PHP Exercises.'

x= re.sub("[\s , .]", ":", string)
print(x)

Phython:Exercises::PHP:Exercises:

In [85]:
dict= ['hello, world!', 'XXXXX test','123four, five;,six....']

for msg in dict:
    matches= re.sub("[A-Z \d+ , !; .]","", msg)
    print(matches)

helloworld
test
fourfivesix

In [86]:
#Question 3

string= "The purpulsion module will carry the lander and rover configuration till 102 km lunar orbit"
string_pattern = r"\w{4}"
compile_pattern = re.compile(string_pattern)
x= compile_pattern.findall(string)
print(x)

['purp', 'ulsi', 'modu', 'will', 'carr', 'land', 'rove', 'conf', 'igur', 'atio', 'till', 'luna', 'orbi']

In [87]:
#Question 4

string= "The purpulsion module will carry the lander and rover configuration till 102 km lunar orbit"
string_pattern = r"\w{3,5}"
compile_pattern = re.compile(string_pattern)
x= compile_pattern.findall(string)
print(x)

['The', 'purpu', 'lsion', 'modul', 'will', 'carry', 'the', 'lande', 'and', 'rover', 'confi', 'gurat', 'ion', 'till', '102', 'lunar', 'orbit']

In [137]:
#question5

string= ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello(Data Science World)", "Data(Scientist)"]
string_pattern= r"\(\)"
compile_pattern= re.compile(string_pattern)
x= compile_pattern.sub("",string)
print(x)

TypeError: expected string or bytes-like object

In [138]:
#Question 7
import re
text = "ImportanceOfRegularExpressionInPhython"

x= re.findall("[A-Z][^A-Z]*", text)
print(x)

['Importance', 'Of', 'Regular', 'Expression', 'In', 'Phython']

In [117]:
import re
text = "RegularExpression1IsAn2ImportantTopic3InPython"
x = re.sub(r"([A-Z]+\b)", "  "  , text)
print(x)

RegularExpression1IsAn2ImportantTopic3InPython

In [118]:
text = "RegularExpression1IsAn2ImportantTopic3InPython"
x = re.sub(r"(^\d[A-Z]+\b)", "  "  , text)
print(x)

RegularExpression1IsAn2ImportantTopic3InPython

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [5]:
sr= df['Country'].sample(5)

In [7]:
import pandas as pd
pat = '\w{6}'
x = df['Country'].str.extract(pat, expand=False)
first_five_letters = x.value_counts()

ValueError: pattern contains no capture groups

In [2]:
#Question 11
text= "An APJ Abdul Kalam was the greatest scientist in 1990_1991."
x= re.findall("\w", text)

print(["Match Object :  ", x])

['Match Object :  ', ['A', 'n', 'A', 'P', 'J', 'A', 'b', 'd', 'u', 'l', 'K', 'a', 'l', 'a', 'm', 'w', 'a', 's', 't', 'h', 'e', 'g', 'r', 'e', 'a', 't', 'e', 's', 't', 's', 'c', 'i', 'e', 'n', 't', 'i', 's', 't', 'i', 'n', '1', '9', '9', '0', '_', '1', '9', '9', '1']]

In [5]:
#question 12
series = "Eighty seven:87, Ninty five:95, hundred:100"
x= re.findall("\d+", series)
print(x)

['87', '95', '100']

In [9]:
#question 13
ip= "192.168.100.1"
x= re.sub("[0]*", "", ip)
print(x)

192.168.1.1

In [28]:
import numpy as np
#question 14
text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of the control were handed over to the leaders of the Country."
x= re.findall(r"\b(\w+)+ \d{1,2}(?:st|nd|rd|th)? \d{4}\b", text)
print(x)

['August']

In [40]:
#question 16
text= ["The quick Brown Fox jumps over the lazy Dog"]

for msg in text:
    search= re.search('Fox', msg)
    print(search)

<re.Match object; span=(16, 19), match='Fox'>

In [41]:
#Ouestion 17

text= 'phython exercises, PHP exercises, C# exercises'
x= re.search('exercises', text)
print(x)

<re.Match object; span=(8, 17), match='exercises'>

In [42]:
#question 18

text= 'phython exercises, PHP exercises, C# exercises'
x= re.search('exercises', text)
print(x)

<re.Match object; span=(8, 17), match='exercises'>

In [48]:
#question 19

def change_date_format(dt):
    return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt) # date formula in reverse format
dt1= "2024-01-08"
print("original date : " , dt1)
print("changed date : " , change_date_format(dt1))

original date :  2024-01-08
changed date :  08-01-2024

In [69]:
#question 20

text= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern= r'\d+\.\d{1,2}'
regex_pattern= re.compile(pattern)
x= regex_pattern.findall(text)
print(x)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [70]:
#question 21
text= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
result= re.finditer(r"\d+", text)
for match_obj in result:
    print(match_obj)
    print(match_obj.group())

<re.Match object; span=(31, 34), match='947'>
947
<re.Match object; span=(36, 39), match='896'>
896
<re.Match object; span=(41, 44), match='926'>
926
<re.Match object; span=(46, 49), match='524'>
524
<re.Match object; span=(51, 54), match='734'>
734
<re.Match object; span=(56, 59), match='950'>
950
<re.Match object; span=(61, 64), match='642'>
642

In [75]:
#Question 22

text= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
number= re.findall(r"\d+", text)
print(number)
number1= map(int, number) 
print ("Max number is: ",max(number1))

['947', '896', '926', '524', '734', '950', '642']
Max number is:  950

In [85]:
#question 23
text= "RegularExpressionIsAnImportantTopicInPhython"

x= re.sub(r"\b[A-Z]+\b", "  ", text)
print(x)

RegularExpressionIsAnImportantTopicInPhython

In [83]:
#Question 24

text= "Regular Expression Is An Important Topic in Phython"

x= re.findall(r'[A-z][a-z]+', text)

print(x)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'in', 'Phython']

In [97]:
#Question 25
text= "Hello hello world world"
x= re.sub(r"^\b([A-Z][a-z]+)"," " , text)

print(x)

  hello world world

In [103]:
#Question 26
text= "Priyanka Meshram_123"

x= re.findall(r"\w$", text)
print(x)

['3']

In [110]:
#Question 27
text= """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

x= re.findall(r"#\S+", text)
print(x)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [113]:
#Question 28

text= "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"


x= re.sub(r"<U\+\w+>", "", text)
print(x)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [134]:
import re

#question 29
string= "[Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.]"
with open("string.text", "r")as file:
    text=file.read()
    pattern=r"\d{1,2}-\d{1,2}-\d{1,4}"
    date= re.findall(pattern, text)
        
    print(date)

[]

In [136]:
#question 30

text= "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern= r"\b\w{2,4}\b"
regex_pattern= re.compile(pattern)
x= regex_pattern.sub("", text)

print(x)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.