In [48]:
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import requests
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Q2

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://www.bcci.tv/')

In [4]:
choice=driver.find_elements(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')

In [5]:
#scrapping data for series name

fix_series=[]
series_tags=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tags:
    series=i.text
    fix_series.append(series)

In [6]:
len(fix_series)

6

In [7]:
fix_series

['ENGLAND TOUR OF INDIA 2023-24',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024']

In [8]:
#scraping data for stadium name 

fix_sname=[]

sname_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in sname_tags:
    sname=i.text
    fix_sname.append(sname)

In [9]:
len(fix_sname)

6

In [10]:
fix_sname

['Himachal Pradesh Cricket Association Stadium,',
 'Harare Sports Club,',
 'Harare Sports Club,',
 'Harare Sports Club,',
 'Harare Sports Club,',
 'Harare Sports Club,']

In [11]:
#scraping data for place name

fix_place=[]

place_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in place_tags:
    place=i.text
    fix_place.append(place)

In [12]:
len(fix_place)

6

In [13]:
fix_place

['Dharamsala', 'Harare', 'Harare', 'Harare', 'Harare', 'Harare']

In [14]:
#scraping data for time

fix_time=[]

time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tags:
    time=i.text
    fix_time.append(time)

In [15]:
len(fix_time)

6

In [16]:
fix_time

['9:30 AM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST']

In [17]:
# scraping data for date

fix_date=[]

date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tags:
    date=i.text
    fix_date.append(date)

In [18]:
len(fix_date)

6

In [19]:
fix_date

['7 MARCH, 2024',
 '6 JULY, 2024',
 '7 JULY, 2024',
 '10 JULY, 2024',
 '13 JULY, 2024',
 '14 JULY, 2024']

In [20]:
import pandas as pd

In [21]:
df= pd.DataFrame({'Series Name':fix_series, 'Stadium_Name':fix_sname, 'City':fix_place,
                 'Time':fix_time, 'Date':fix_date})

In [22]:
df

,Series Name,Stadium_Name,City,Time,Date
0,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium,",Dharamsala,9:30 AM IST,"7 MARCH, 2024"
1,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,",Harare,8:00 PM IST,"6 JULY, 2024"
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,",Harare,8:00 PM IST,"7 JULY, 2024"
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,",Harare,8:00 PM IST,"10 JULY, 2024"
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,",Harare,8:00 PM IST,"13 JULY, 2024"
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,",Harare,8:00 PM IST,"14 JULY, 2024"

In [23]:
driver.close()

In [24]:
driver=webdriver.Chrome()

In [25]:
driver.get('http://statisticstimes.com/ ')

In [26]:
search=driver.find_elements(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')

In [27]:
#scraping data for rank
s_rank=[]

rank_tags=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank_tags:
    rank=i.text
    s_rank.append(rank)

In [28]:
len(s_rank)

68

In [29]:
s_rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '']

In [30]:
# scraping data for state name

s_name=[]

name_tags=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in name_tags:
    name=i.text
    s_name.append(name)

In [31]:
len(s_name)

68

In [32]:
s_name

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Karnataka',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Madhya Pradesh',
 'Andhra Pradesh',
 'Telangana',
 'Kerala',
 'Delhi',
 'Haryana',
 'Odisha',
 'Bihar',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir-UT',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Arunachal Pradesh',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands',
 'India',
 'Maharashtra',
 'Tamil Nadu',
 'Karnataka',
 'Uttar Pradesh',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Madhya Pradesh',
 'Telangana',
 'Andhra Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Odisha',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir-UT',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Manipur',
 'Arunachal Pradesh',
 'Sikkim',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands',
 'India']

In [33]:
# scraping data for gsdp 21-22

s_gdp21=[]

gdp21_tags=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gdp21_tags:
    gdp21=i.text
    s_gdp21.append(gdp21)

In [34]:
len(s_gdp21)

66

In [35]:
s_gdp21

['3,108,022',
 '2,071,286',
 '1,974,532',
 '1,962,725',
 '1,937,066',
 '1,363,926',
 '1,218,193',
 '1,136,137',
 '1,133,837',
 '1,128,907',
 '932,470',
 '904,642',
 '870,665',
 '670,881',
 '650,302',
 '614,227',
 '412,612',
 '406,416',
 '358,863',
 '272,159',
 '199,917',
 '176,269',
 '82,604',
 '62,550',
 '45,635',
 '44,238',
 '38,785',
 '37,557',
 '36,594',
 '35,124',
 '31,913',
 '27,824',
 '10,371',
 '2,690,525',
 '1,854,109',
 '1,782,121',
 '1,714,265',
 '1,700,504',
 '1,228,065',
 '1,084,845',
 '1,034,988',
 '1,024,205',
 '1,006,285',
 '822,970',
 '810,260',
 '779,197',
 '589,712',
 '587,900',
 '537,132',
 '363,161',
 '358,407',
 '325,830',
 '242,728',
 '162,644',
 '149,242',
 '73,973',
 '56,226',
 '40,573',
 '40,039',
 '34,441',
 '32,874',
 '31,669',
 '31,519',
 '27,859',
 '24,293',
 '9,209']

In [39]:
# scraping data for gsdp 22-23

s_gdp22=[]

gdp22_tags=driver.find_elements(By.XPATH,'//td[3][@class="data"]')
for i in gdp22_tags:
    gdp22=i.text
    s_gdp22.append(gdp22)

TypeError: 'tuple' object is not callable

In [40]:
#scraping data for share

s_share=[]

share_tags=driver.find_elements(By.XPATH,'//td[5][@class="data"]')
for i in share_tags:
    share=i.text
    s_share.append(share)

TypeError: 'tuple' object is not callable

# Q8

In [41]:
driver=webdriver.Chrome()

In [42]:
driver.get('https://archive.ics.uci.edu/')

In [43]:
dataset=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
dataset.click()

In [44]:
# fetching url to open each dataset

dataset_open_url=[]

url= driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in url:
    dataset_open_url.append(i.get_attribute('href'))

In [45]:
len(url)

10

In [46]:
url

[<selenium.webdriver.remote.webelement.WebElement (session="f02abc417ad15955b85dbf23ff7e858e", element="148655F02392A2B9EC4B9F3ECB6EEE29_element_48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f02abc417ad15955b85dbf23ff7e858e", element="148655F02392A2B9EC4B9F3ECB6EEE29_element_49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f02abc417ad15955b85dbf23ff7e858e", element="148655F02392A2B9EC4B9F3ECB6EEE29_element_50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f02abc417ad15955b85dbf23ff7e858e", element="148655F02392A2B9EC4B9F3ECB6EEE29_element_51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f02abc417ad15955b85dbf23ff7e858e", element="148655F02392A2B9EC4B9F3ECB6EEE29_element_52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f02abc417ad15955b85dbf23ff7e858e", element="148655F02392A2B9EC4B9F3ECB6EEE29_element_53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f02abc417ad15955b85dbf23ff7e858e", element="148655F02392A2B9EC4B9F3ECB6EEE29_element_54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f02abc417ad15955b85dbf23ff7e858e", element="148655F02392A2B9EC4B9F3ECB6EEE29_element_55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f02abc417ad15955b85dbf23ff7e858e", element="148655F02392A2B9EC4B9F3ECB6EEE29_element_56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f02abc417ad15955b85dbf23ff7e858e", element="148655F02392A2B9EC4B9F3ECB6EEE29_element_57")>]

In [49]:
# scraping data for dataset name

d_name=[]
for i in dataset_open_url:
    driver.get(i)
    time.sleep(2)
    try:
        name=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/div/h1')
        d_name.append(name.text)
    except NoSuchElementException :
            d_name.append('-')

In [50]:
len(d_name)

10

In [51]:
d_name

['Iris',
 'Dry Bean Dataset',
 'Heart Disease',
 'Rice (Cammeo and Osmancik)',
 'Adult',
 'Raisin',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Wine',
 'Wine Quality',
 'Diabetes']

In [52]:
#scraping data for data type

d_type=[]

for i in dataset_open_url:
    driver.get(i)
    time.sleep(2)
    try:
        dtype=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[1]/p')
        d_type.append(dtype.text)
    except NoSuchElementException :
            d_type.append('-')

In [53]:
len(d_type)

10

In [54]:
d_type

['Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Tabular',
 'Multivariate',
 'Multivariate, Time-Series']

In [55]:
#scraping data for task

d_task=[]

for i in dataset_open_url:
    driver.get(i)
    time.sleep(2)
    try:
        task=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p')
        d_task.append(task.text)
    except NoSuchElementException :
            d_task.append('-')

In [56]:
len(d_task)

10

In [57]:
d_task

['Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification, Regression',
 'Classification']

In [58]:
#scraping data for attribute type

d_attribute=[]

for i in dataset_open_url:
    driver.get(i)
    time.sleep(2)
    try:
        attribute=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
        d_attribute.append(attribute.text)
    except NoSuchElementException :
            d_attribute.append('-')

In [59]:
len(d_attribute)

10

In [60]:
d_attribute

['Real',
 'Integer, Real',
 'Categorical, Integer, Real',
 'Real',
 'Categorical, Integer',
 'Real, Integer',
 'Real',
 'Integer, Real',
 'Real',
 'Categorical, Integer']

In [61]:
# scraping data for number of instance

d_instance=[]

for i in dataset_open_url:
    driver.get(i)
    time.sleep(2)
    try:
        instance=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')
        d_instance.append(instance.text)
    except NoSuchElementException :
            d_instance.append('-')

In [62]:
len(d_instance)

10

In [63]:
d_instance

['150', '13611', '303', '3810', '48842', '900', '569', '178', '4898', '1']

In [64]:
# scraping data for number of attribute

d_attribute=[]

for i in dataset_open_url:
    driver.get(i)
    time.sleep(2)
    try:
        attribute=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p')
        d_attribute.append(attribute.text)
    except NoSuchElementException :
            d_attribute.append('-')

In [65]:
len(d_attribute)

10

In [66]:
d_attribute

['4', '16', '13', '7', '14', '7', '30', '13', '11', '20']

In [67]:
# scraping data for year

d_year=[]

for i in dataset_open_url:
    driver.get(i)
    time.sleep(2)
    try:
        year=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2')
        d_year.append(year.text)
    except NoSuchElementException :
            d_year.append('-')

In [68]:
len(d_year)

10

In [69]:
d_year

['Donated on 6/30/1988',
 'Donated on 9/13/2020',
 'Donated on 6/30/1988',
 'Donated on 10/5/2019',
 'Donated on 4/30/1996',
 'Donated on 8/13/2023',
 'Donated on 10/31/1995',
 'Donated on 6/30/1991',
 'Donated on 10/6/2009',
 '-']

In [70]:
import pandas as pd

In [71]:
df= pd.DataFrame({'Dataset Name':d_name,
                 'Dataset Type':d_type,
                 'Task':d_task,
                 'Attribute Type':d_attribute,
                 'No. of Instance':d_instance,
                 'No. of Attribute':d_attribute,
                 'Year':d_year})

In [72]:
df

,Dataset Name,Dataset Type,Task,Attribute Type,No. of Instance,No. of Attribute,Year
0,Iris,Tabular,Classification,4,150,4,Donated on 6/30/1988
1,Dry Bean Dataset,Multivariate,Classification,16,13611,16,Donated on 9/13/2020
2,Heart Disease,Multivariate,Classification,13,303,13,Donated on 6/30/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,7,3810,7,Donated on 10/5/2019
4,Adult,Multivariate,Classification,14,48842,14,Donated on 4/30/1996
5,Raisin,Multivariate,Classification,7,900,7,Donated on 8/13/2023
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,30,569,30,Donated on 10/31/1995
7,Wine,Tabular,Classification,13,178,13,Donated on 6/30/1991
8,Wine Quality,Multivariate,"Classification, Regression",11,4898,11,Donated on 10/6/2009
9,Diabetes,"Multivariate, Time-Series",Classification,20,1,20,-

In [73]:
driver.close()

# Q7

In [74]:
driver=webdriver.Chrome()

In [75]:
driver.get('https://www.imdb.com/list/ls512407256/')

In [76]:
#Scraping data for series name

s_name=[]

name_tags=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in name_tags:
    name=i.text
    s_name.append(name)

In [77]:
len(s_name)

100

In [78]:
s_name

['1. Game of Thrones (2011–2019)',
 '2. Stranger Things (2016–2025)',
 '3. The Walking Dead (2010–2022)',
 '4. 13 Reasons Why (2017–2020)',
 '5. The 100 (2014–2020)',
 '6. Orange Is the New Black (2013–2019)',
 '7. Riverdale (2017–2023)',
 "8. Grey's Anatomy (2005– )",
 '9. The Flash (2014–2023)',
 '10. Arrow (2012–2020)',
 '11. Money Heist (2017–2021)',
 '12. The Big Bang Theory (2007–2019)',
 '13. Black Mirror (2011– )',
 '14. Sherlock (2010–2017)',
 '15. Vikings (2013–2020)',
 '16. Pretty Little Liars (2010–2017)',
 '17. The Vampire Diaries (2009–2017)',
 '18. American Horror Story (2011– )',
 '19. Breaking Bad (2008–2013)',
 '20. Lucifer (2016–2021)',
 '21. Supernatural (2005–2020)',
 '22. Prison Break (2005–2017)',
 '23. How to Get Away with Murder (2014–2020)',
 '24. Teen Wolf (2011–2017)',
 '25. The Simpsons (1989– )',
 '26. Once Upon a Time (2011–2018)',
 '27. Narcos (I) (2015–2017)',
 '28. Daredevil (2015–2018)',
 '29. Friends (1994–2004)',
 '30. How I Met Your Mother (2005–2014)',
 '31. Suits (2011–2019)',
 '32. Mr. Robot (2015–2019)',
 '33. The Originals (2013–2018)',
 '34. Supergirl (2015–2021)',
 '35. Gossip Girl (2007–2012)',
 '36. Sense8 (2015–2018)',
 '37. Gotham (2014–2019)',
 '38. Westworld (2016–2022)',
 '39. Jessica Jones (2015–2019)',
 '40. Modern Family (2009–2020)',
 '41. Rick and Morty (2013– )',
 '42. Shadowhunters (2016–2019)',
 '43. The End of the F***ing World (2017–2019)',
 '44. House of Cards (2013–2018)',
 '45. Dark (2017–2020)',
 '46. Elite (2018–2024)',
 '47. Sex Education (2019–2023)',
 '48. Shameless (2011–2021)',
 '49. New Girl (2011–2018)',
 '50. Agents of S.H.I.E.L.D. (2013–2020)',
 '51. Game of Thrones (2011–2019)',
 '52. You (2018–2024)',
 '53. Stranger Things (2016–2025)',
 '54. Dexter (2006–2013)',
 '55. The Walking Dead (2010–2022)',
 '56. Fear the Walking Dead (2015–2023)',
 '57. 13 Reasons Why (2017–2020)',
 '58. Family Guy (1999–2024)',
 '59. The 100 (2014–2020)',
 '60. The Blacklist (2013–2023)',
 '61. Orange Is the New Black (2013–2019)',
 '62. Lost (2004–2010)',
 '63. Riverdale (2017–2023)',
 '64. Peaky Blinders (2013–2022)',
 "65. Grey's Anatomy (2005– )",
 '66. House (2004–2012)',
 '67. The Flash (2014–2023)',
 '68. Quantico (2015–2018)',
 '69. Arrow (2012–2020)',
 '70. Orphan Black (2013–2017)',
 '71. Money Heist (2017–2021)',
 '72. Homeland (2011–2020)',
 '73. The Big Bang Theory (2007–2019)',
 '74. Blindspot (2015–2020)',
 '75. Black Mirror (2011– )',
 "76. DC's Legends of Tomorrow (2016–2022)",
 '77. Sherlock (2010–2017)',
 "78. The Handmaid's Tale (2017– )",
 '79. Vikings (2013–2020)',
 '80. Chilling Adventures of Sabrina (2018–2020)',
 '81. Pretty Little Liars (2010–2017)',
 '82. The Good Doctor (2017–2024)',
 '83. The Vampire Diaries (2009–2017)',
 '84. Jane the Virgin (2014–2019)',
 '85. American Horror Story (2011– )',
 '86. Glee (2009–2015)',
 '87. Breaking Bad (2008–2013)',
 '88. South Park (1997– )',
 '89. Lucifer (2016–2021)',
 '90. Brooklyn Nine-Nine (2013–2021)',
 '91. Supernatural (2005–2020)',
 '92. Under the Dome (2013–2015)',
 '93. Prison Break (2005–2017)',
 '94. The Umbrella Academy (2019–2024)',
 '95. How to Get Away with Murder (2014–2020)',
 '96. True Detective (2014– )',
 '97. Teen Wolf (2011–2017)',
 '98. The OA (2016–2019)',
 '99. The Simpsons (1989– )',
 '100. Desperate Housewives (2004–2012)']

In [79]:
#scraping data for year span

s_year=[]

year_tags=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year_tags:
    year=i.text
    s_year.append(year)

In [80]:
len(s_year)

100

In [81]:
s_year

['(2011–2019)',
 '(2016–2025)',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017–2023)',
 '(2005– )',
 '(2014–2023)',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011– )',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(I) (2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016–2022)',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018–2024)',
 '(2019–2023)',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2011–2019)',
 '(2018–2024)',
 '(2016–2025)',
 '(2006–2013)',
 '(2010–2022)',
 '(2015–2023)',
 '(2017–2020)',
 '(1999–2024)',
 '(2014–2020)',
 '(2013–2023)',
 '(2013–2019)',
 '(2004–2010)',
 '(2017–2023)',
 '(2013–2022)',
 '(2005– )',
 '(2004–2012)',
 '(2014–2023)',
 '(2015–2018)',
 '(2012–2020)',
 '(2013–2017)',
 '(2017–2021)',
 '(2011–2020)',
 '(2007–2019)',
 '(2015–2020)',
 '(2011– )',
 '(2016–2022)',
 '(2010–2017)',
 '(2017– )',
 '(2013–2020)',
 '(2018–2020)',
 '(2010–2017)',
 '(2017–2024)',
 '(2009–2017)',
 '(2014–2019)',
 '(2011– )',
 '(2009–2015)',
 '(2008–2013)',
 '(1997– )',
 '(2016–2021)',
 '(2013–2021)',
 '(2005–2020)',
 '(2013–2015)',
 '(2005–2017)',
 '(2019–2024)',
 '(2014–2020)',
 '(2014– )',
 '(2011–2017)',
 '(2016–2019)',
 '(1989– )',
 '(2004–2012)']

In [82]:
#scraping data for genre

s_genre=[]

genre_tags=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre_tags:
    genre=i.text
    s_genre.append(genre)

In [83]:
len(s_genre)

100

In [84]:
s_genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Drama, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama, Romance',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Drama, Fantasy, Horror',
 'Crime, Drama, Mystery',
 'Drama, Horror, Thriller',
 'Drama, Horror, Sci-Fi',
 'Drama, Mystery, Thriller',
 'Animation, Comedy',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Adventure, Drama, Fantasy',
 'Crime, Drama, Mystery',
 'Crime, Drama',
 'Drama, Romance',
 'Drama, Mystery',
 'Action, Adventure, Drama',
 'Crime, Drama, Mystery',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Romance',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Drama',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Mystery, Romance',
 'Drama',
 'Drama, Fantasy, Horror',
 'Comedy',
 'Drama, Horror, Sci-Fi',
 'Comedy, Drama, Music',
 'Crime, Drama, Thriller',
 'Animation, Comedy',
 'Crime, Drama, Fantasy',
 'Comedy, Crime',
 'Drama, Fantasy, Horror',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Drama, Fantasy, Mystery',
 'Animation, Comedy',
 'Comedy, Drama, Mystery']

In [85]:
#scraping data run time

s_time=[]

time_tags=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in time_tags:
    time=i.text
    s_time.append(time)

In [86]:
len(s_time)

100

In [87]:
s_time

['55 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '45 min',
 '4,393 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '5,280 min',
 '4,576 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '5,378 min',
 '23 min',
 '42 min',
 '25 min',
 '3,804 min',
 '1,455 min',
 '60 min',
 '1,755 min',
 '46 min',
 '22 min',
 '45 min',
 '55 min',
 '45 min',
 '51 min',
 '55 min',
 '44 min',
 '44 min',
 '60 min',
 '22 min',
 '43 min',
 '43 min',
 '59 min',
 '5,445 min',
 '45 min',
 '2,109 min',
 '41 min',
 '7,788 min',
 '43 min',
 '42 min',
 '42 min',
 '44 min',
 '70 min',
 '55 min',
 '22 min',
 '42 min',
 '60 min',
 '42 min',
 '88 min',
 '60 min',
 '44 min',
 '60 min',
 '44 min',
 '41 min',
 '43 min',
 '60 min',
 '60 min',
 '44 min',
 '45 min',
 '22 min',
 '4,393 min',
 '22 min',
 '44 min',
 '43 min',
 '44 min',
 '60 min',
 '43 min',
 '55 min',
 '41 min',
 '60 min',
 '22 min',
 '45 min']

In [88]:
#scraping data for ratings

s_rating=[]

rating_tags=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rating_tags:
    rating=i.text
    s_rating.append(rating)

In [89]:
len(s_rating)

100

In [90]:
s_rating

['9.2',
 '8.7',
 '8.1',
 '7.5',
 '7.6',
 '8',
 '6.5',
 '7.6',
 '7.5',
 '7.5',
 '8.2',
 '8.1',
 '8.7',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.4',
 '8.5',
 '8.3',
 '6.2',
 '7.5',
 '8.2',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '9.1',
 '6.5',
 '8',
 '8.6',
 '8.7',
 '7.2',
 '8.3',
 '8.5',
 '7.8',
 '7.5',
 '9.2',
 '7.7',
 '8.7',
 '8.7',
 '8.1',
 '6.8',
 '7.5',
 '8.1',
 '7.6',
 '7.9',
 '8',
 '8.3',
 '6.5',
 '8.8',
 '7.6',
 '8.7',
 '7.5',
 '6.7',
 '7.5',
 '8.3',
 '8.2',
 '8.3',
 '8.1',
 '7.3',
 '8.7',
 '6.8',
 '9.1',
 '8.4',
 '8.5',
 '7.4',
 '7.4',
 '8',
 '7.7',
 '7.9',
 '8',
 '6.8',
 '9.5',
 '8.7',
 '8.1',
 '8.4',
 '8.4',
 '6.5',
 '8.3',
 '7.9',
 '8.1',
 '8.9',
 '7.7',
 '7.8',
 '8.7',
 '7.6']

In [91]:
#scraping data for votes

s_votes=[]

vote_tags=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in vote_tags:
    vote=i.text
    s_votes.append(vote)

In [92]:
len(s_votes)

100

In [93]:
s_votes

['2,262,800',
 '1,320,650',
 '1,072,402',
 '313,497',
 '273,443',
 '318,712',
 '154,388',
 '338,403',
 '366,970',
 '444,795',
 '526,918',
 '861,338',
 '633,495',
 '989,633',
 '576,248',
 '177,403',
 '347,164',
 '341,347',
 '2,111,035',
 '352,816',
 '479,234',
 '574,987',
 '165,371',
 '162,078',
 '433,132',
 '235,996',
 '465,971',
 '471,437',
 '1,079,084',
 '724,151',
 '472,514',
 '415,316',
 '146,733',
 '129,131',
 '191,597',
 '162,212',
 '239,857',
 '529,757',
 '225,713',
 '477,488',
 '594,906',
 '69,888',
 '217,408',
 '528,397',
 '437,939',
 '89,893',
 '347,003',
 '280,018',
 '243,774',
 '225,172',
 '2,262,800',
 '295,988',
 '1,320,650',
 '759,723',
 '1,072,402',
 '142,881',
 '313,497',
 '361,992',
 '273,443',
 '277,342',
 '318,712',
 '590,488',
 '154,388',
 '638,053',
 '338,403',
 '505,802',
 '366,970',
 '63,664',
 '444,795',
 '116,476',
 '526,918',
 '359,336',
 '861,338',
 '78,631',
 '633,495',
 '109,684',
 '989,633',
 '255,972',
 '576,248',
 '107,408',
 '177,403',
 '110,892',
 '347,164',
 '58,419',
 '341,347',
 '154,894',
 '2,111,035',
 '403,437',
 '352,816',
 '356,451',
 '479,234',
 '111,964',
 '574,987',
 '272,573',
 '165,371',
 '645,889',
 '162,078',
 '114,895',
 '433,132',
 '138,703']

In [94]:
df=pd.DataFrame({'Series Name':s_name,
                'Year Span':s_year,
                'Genre':s_genre,
                'Run Time':s_time,
                'Ratings':s_rating,
                'Votes':s_votes})

In [95]:
df

,Series Name,Year Span,Genre,Run Time,Ratings,Votes
0,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",55 min,9.2,"2,262,800"
1,2. Stranger Things (2016–2025),(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,320,650"
2,3. The Walking Dead (2010–2022),(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,072,402"
3,4. 13 Reasons Why (2017–2020),(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"313,497"
4,5. The 100 (2014–2020),(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"273,443"
...,...,...,...,...,...,...
95,96. True Detective (2014– ),(2014– ),"Crime, Drama, Mystery",55 min,8.9,"645,889"
96,97. Teen Wolf (2011–2017),(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"162,078"
97,98. The OA (2016–2019),(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"114,895"
98,99. The Simpsons (1989– ),(1989– ),"Animation, Comedy",22 min,8.7,"433,132"
99,100. Desperate Housewives (2004–2012),(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"138,703"

In [96]:
driver.close()

# Q6

In [97]:
driver=webdriver.Chrome()

In [98]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [99]:
#scraping data for book name

b_name=[]

name_tags=driver.find_elements(By.XPATH,'//td[2][@class="left"]')
for i in name_tags:
    name=i.text
    b_name.append(name)

In [100]:
len(b_name)

100

In [101]:
b_name

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [102]:
#scraping data for author name

b_author=[]

author_tags=driver.find_elements(By.XPATH,'//td[3][@class="left"]')
for i in author_tags:
    author=i.text
    b_author.append(author)

In [103]:
len(b_author)

100

In [104]:
b_author

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [105]:
#scraping data for volumes sold

b_volume=[]

volume_tags=driver.find_elements(By.XPATH,'//td[4][@class="left"]')
for i in volume_tags:
    volumes=i.text
    b_volume.append(volumes)

In [106]:
len(b_volume)

100

In [107]:
b_volume

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [108]:
#scraping data for publisher name

b_publisher=[]

publisher_tags=driver.find_elements(By.XPATH,'//td[5][@class="left"]')
for i in publisher_tags:
    publisher=i.text
    b_publisher.append(publisher)

In [109]:
len(b_publisher)

100

In [110]:
b_publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [111]:
#scraping data for genre

b_genre=[]

genre_tags=driver.find_elements(By.XPATH,'//td[6][@class="last left"]')
for i in genre_tags:
    genre=i.text
    b_genre.append(genre)

In [112]:
len(b_genre)

100

In [113]:
b_genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [114]:
import pandas as pd

In [115]:
df=pd.DataFrame({'Book Name':b_name,
                'Author_name':b_author,
                'Volumes Sold':b_volume,
                'Publisher Name':b_publisher,
                'Genre':b_genre})

In [116]:
df

,Book Name,Author_name,Volumes Sold,Publisher Name,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [117]:
driver.close()

# Q5

In [118]:
driver=webdriver.Chrome()

In [119]:
driver.get('https://www.billboard.com/charts/')

In [122]:
# Scraping data for song name

s_name=[]

name_tags=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in name_tags:
    name=i.text
    s_name.append(name)

In [123]:
len(s_name)

99

In [124]:
s_name

['Lovin On Me',
 'Lose Control',
 'Carnival',
 'Beautiful Things',
 'Snooze',
 'Cruel Summer',
 'Greedy',
 'I Remember Everything',
 'Agora Hills',
 'Yes, And?',
 'Stick Season',
 'Fast Car',
 'Water',
 'Last Night',
 'Redrum',
 "Thinkin' Bout Me",
 "Is It Over Now? (Taylor's Version) [From The Vault]",
 'Pretty Little Poison',
 'Flowers',
 'Paint The Town Red',
 'Houdini',
 'Made For Me',
 'Never Lose Me',
 'La Diabla',
 'Where The Wild Things Are',
 'Training Season',
 'The Painter',
 'Feather',
 'What Was I Made For?',
 'Rich Baby Daddy',
 'Whatever She Wants',
 'Truck Bed',
 'Selfish',
 'Everybody',
 'Vampire',
 'Wild Ones',
 'On My Mama',
 'Praise Jah In The Moonlight',
 'Save Me',
 'Exes',
 'Breathe',
 'Dance The Night',
 'Need A Favor',
 'Surround Sound',
 'World On Fire',
 'Yeah!',
 'Burn It Down',
 'Good Good',
 'La Victima',
 'End Of Beginning',
 'Get In With Me',
 'Burn',
 'Man Made A Bar',
 '16 Carriages',
 'First Person Shooter',
 'Fuk Sumn',
 'One Of The Girls',
 'Back To Me',
 'One Call',
 'Contigo',
 '23',
 'Murder On The Dancefloor',
 'You Broke My Heart',
 'Think U The Shit (Fart)',
 'FTCU',
 'FE!N',
 'Hiss',
 'I Can Feel It',
 'Bandit',
 'Spin You Around (1/24)',
 'Soak City',
 'Forever',
 "Mamaw's House",
 'Act II: Date @ 8',
 'Igual Que Un Angel',
 'Nee-nah',
 'Wildflowers And Wild Horses',
 'Bellakeo',
 'Harley Quinn',
 'Standing Next To You',
 'Bittersweet',
 'IDGAF',
 'Home',
 'Vultures',
 'Yeah Glo!',
 'Coal',
 'Mmhmm',
 'Psycho CEO',
 'Perro Negro',
 'Sensational',
 'Oklahoma Smokeshow',
 'Tu Name',
 'Do It',
 'Worth It',
 'Talking',
 'Monaco',
 'Where It Ends',
 'Wondering Why',
 'Northern Attitude']

In [125]:
#scraping data for artist name

s_aname=[]

aname_tags=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in aname_tags:
    aname=i.text
    s_aname.append(aname)

In [126]:
len(s_aname)

99

In [127]:
s_aname

['Jack Harlow',
 'Teddy Swims',
 '¥$: Kanye West & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti',
 'Benson Boone',
 'SZA',
 'Taylor Swift',
 'Tate McRae',
 'Zach Bryan Featuring Kacey Musgraves',
 'Doja Cat',
 'Ariana Grande',
 'Noah Kahan',
 'Luke Combs',
 'Tyla',
 'Morgan Wallen',
 '21 Savage',
 'Morgan Wallen',
 'Taylor Swift',
 'Warren Zeiders',
 'Miley Cyrus',
 'Doja Cat',
 'Dua Lipa',
 'Muni Long',
 'Flo Milli',
 'Xavi',
 'Luke Combs',
 'Dua Lipa',
 'Cody Johnson',
 'Sabrina Carpenter',
 'Billie Eilish',
 'Drake Featuring Sexyy Red & SZA',
 'Bryson Tiller',
 'HARDY',
 'Justin Timberlake',
 'Nicki Minaj Featuring Lil Uzi Vert',
 'Olivia Rodrigo',
 'Jessie Murph & Jelly Roll',
 'Victoria Monet',
 'YG Marley',
 'Jelly Roll With Lainey Wilson',
 'Tate McRae',
 'Yeat',
 'Dua Lipa',
 'Jelly Roll',
 'JID Featuring 21 Savage & Baby Tate',
 'Nate Smith',
 'Usher Featuring Lil Jon & Ludacris',
 'Parker McCollum',
 'Usher, Summer Walker & 21 Savage',
 'Xavi',
 'Djo',
 'BossMan Dlow',
 '¥$: Kanye West & Ty Dolla $ign',
 'Morgan Wallen Featuring Eric Church',
 'Beyonce',
 'Drake Featuring J. Cole',
 '¥$: Kanye West & Ty Dolla $ign',
 'The Weeknd, Jennie & Lily Rose Depp',
 '¥$: Kanye West & Ty Dolla $ign',
 'Rich Amiri',
 'Karol G & Tiesto',
 'Chayce Beckham',
 'Sophie Ellis-Bextor',
 'Drake',
 'Ice Spice',
 'Nicki Minaj',
 'Travis Scott Featuring Playboi Carti',
 'Megan Thee Stallion',
 'Kane Brown',
 'Don Toliver',
 'Morgan Wallen',
 '310babii',
 'Noah Kahan',
 'Thomas Rhett Featuring Morgan Wallen',
 '4Batz',
 'Kali Uchis & Peso Pluma',
 '21 Savage, Travis Scott & Metro Boomin',
 'Lainey Wilson',
 'Peso Pluma & Anitta',
 'Fuerza Regida & Marshmello',
 'Jung Kook',
 'Gunna',
 'Drake Featuring Yeat',
 'Good Neighbours',
 '¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J',
 'GloRilla',
 'Dylan Gossett',
 'BigXthaPlug',
 'Yeat',
 'Bad Bunny & Feid',
 'Chris Brown Featuring Davido & Lojay',
 'Zach Bryan',
 'Fuerza Regida',
 '¥$: Kanye West & Ty Dolla $ign',
 'Offset & Don Toliver',
 '¥$: Kanye West & Ty Dolla $ign Featuring North West',
 'Bad Bunny',
 'Bailey Zimmerman',
 'The Red Clay Strays',
 'Noah Kahan With Hozier']

In [ ]:
#scraping data for last week rank

s_lrank=[]

lrank_tags=driver.find_elements(By.XPATH,'')
for i in lrank_tags:
    lrank=i.text
    s_lrank.append(lrank)

In [ ]:
len(s_lrank)

In [128]:
driver.close()

In [129]:
driver=webdriver.Chrome()

In [130]:
driver.get('https://github.com/trending')

In [131]:
# scraping data for reopsitory name

g_title=[]

title_tags=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in title_tags:
    title=i.text
    g_title.append(title)
g_title[0:24]

['layerdiffusion /',
 'naver /',
 'EbookFoundation /',
 'cooderl /',
 'ReVanced /',
 'AUTOMATIC1111 /',
 'pydantic /',
 'iptv-org /',
 'ente-io /',
 'vercel /',
 'bigcode-project /',
 'adrianhajdin /',
 'microsoft /',
 'microsoft /',
 'nodejs /',
 'Lissy93 /',
 'jafioti /',
 'cloudcommunity /',
 'allenai /',
 'microsoft /',
 'alireza0 /',
 'argmaxinc /',
 'memorysafety /',
 'FuelLabs /']

In [132]:
len(g_title)

25

In [133]:
g_title

['layerdiffusion /',
 'naver /',
 'EbookFoundation /',
 'cooderl /',
 'ReVanced /',
 'AUTOMATIC1111 /',
 'pydantic /',
 'iptv-org /',
 'ente-io /',
 'vercel /',
 'bigcode-project /',
 'adrianhajdin /',
 'microsoft /',
 'microsoft /',
 'nodejs /',
 'Lissy93 /',
 'jafioti /',
 'cloudcommunity /',
 'allenai /',
 'microsoft /',
 'alireza0 /',
 'argmaxinc /',
 'memorysafety /',
 'FuelLabs /',
 'SerenityOS /']

In [134]:
#scraping data for repository description

g_description=[]

description_tags=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description_tags:
    description=i.text
    g_description.append(description)

In [135]:
len(g_description)

24

In [136]:
g_description

['[WIP] Layer Diffusion for WebUI (via Forge)',
 '📚 Freely available programming books',
 '🤗更优雅的微信公众号订阅方式，支持私有化部署、微信公众号RSS生成（基于微信读书）。',
 '💊 Application to use ReVanced on Android',
 'Stable Diffusion web UI',
 'Build better UIs faster.',
 'Collection of publicly available IPTV channels from all over the world',
 'Fully open source, End to End Encrypted alternative to Google Photos and Apple Photos',
 'Build AI-powered applications with React, Svelte, Vue, and Solid',
 'Home of StarCoder2!',
 'Learn to create modern websites with sleek parallax effects and bento box layouts. This course covers everything from stylish UI design to mobile-first principles while strengthening your React.js and Tailwind CSS skills.',
 '18 Lessons, Get Started Building with Generative AI 🔗 https://microsoft.github.io/generative-ai-for-beginners/',
 '7 Lessons, Kick-start Your Cybersecurity Learning.',
 'The Node.js® Website',
 '🕵️\u200d♂️ All-in-one OSINT tool for analysing any website',
 'Deep learning at the speed of light.',
 'A curated list of free courses & certifications.',
 'Modeling, training, eval, and inference code for OLMo',
 '12 Weeks, 24 Lessons, AI for All!',
 'An advanced Web Panel • Built for SagerNet/Sing-Box',
 'Swift native on-device speech recognition with Whisper for Apple Silicon',
 'This repository is the future home of the River reverse proxy application, based on the pingora library from Cloudflare.',
 'Rust full node implementation of the Fuel v2 protocol.',
 'The Serenity Operating System 🐞']

In [139]:
#scrpaing data for contributors count

g_contributors=[]

contributor_tags=driver.find_elements(By.XPATH,'//a[2][@class="Link Link--muted d-inline-block mr-3"]')
for i in contributor_tags:
    contributor=i.text
    g_contributors.append(contributor)

In [140]:
len(g_contributors)

25

In [141]:
g_contributors

['57',
 '39',
 '59,233',
 '87',
 '587',
 '24,143',
 '219',
 '1,532',
 '144',
 '757',
 '49',
 '38',
 '16,063',
 '99',
 '5,598',
 '1,111',
 '15',
 '1,504',
 '280',
 '4,463',
 '161',
 '101',
 '57',
 '1,915',
 '2,930']

In [146]:
#scraping data for language used

g_language=[]
language_tags=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in language_tags:
    language=i.text
    g_language.append(language)

In [147]:
len(g_language)

21

In [148]:
g_language

['Python',
 'Python',
 'TypeScript',
 'Dart',
 'Python',
 'Python',
 'JavaScript',
 'TypeScript',
 'TypeScript',
 'Python',
 'JavaScript',
 'Jupyter Notebook',
 'TypeScript',
 'TypeScript',
 'Rust',
 'Python',
 'Jupyter Notebook',
 'Vue',
 'Swift',
 'Rust',
 'C++']

In [149]:
driver.close()