In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\priyanka\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\priyanka\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\priyanka\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\priyanka\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\priyanka\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in c:\users\priyanka\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: cffi>=1.14 in c:\users\priyanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\priyanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sortedcontainers in c:\users\priyanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup in c:\users\priyanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\priyanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: outcome in c:\users\priyanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\priyanka\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\priyanka\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\priyanka\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\priyanka\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\priyanka\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

# question 4 scrap the data for 100 sunglasses

In [2]:
driver= webdriver.Chrome()

In [3]:
url='https://www.flipkart.com/'
driver.get(url)

In [4]:
product= driver.find_element(By.XPATH,'//input[@type="text"]')
product.send_keys('sunglasses')

In [5]:
search=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search.click()

In [6]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [7]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
  #scrapping data for brand name   
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
#scrapping data for description 
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
 #scrapping data for price   
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
#scrapping data for discount    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [8]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [9]:
# creating data frame

sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [10]:
sun_gl

,Brand_name,P_price,Pr_desc,P_discount
0,ROYAL SON,"₹359₹1,49976% off",Mirrored Aviator Sunglasses (58),76% off
1,Eyewearlabs,"₹1,236₹3,59965% off","Polarized, UV Protection Wayfarer Sunglasses (51)",65% off
2,ROADWAY,"₹129₹1,29990% off","UV Protection Wayfarer, Sports, Spectacle , Re...",90% off
3,SRPM,"₹169₹1,29986% off",UV Protection Wayfarer Sunglasses (50),86% off
4,ROADWAY,₹189₹99981% off,UV Protection Wayfarer Sunglasses (Free Size),81% off
...,...,...,...,...
95,Fastrack,₹129₹99987% off,"UV Protection Rectangular, Retro Square Sungla...",40% off
96,Eyewearlabs,₹199₹99980% off,"UV Protection, Gradient Rectangular Sunglasses...",44% off
97,ROZZETTA CRAFT,"₹499₹1,60068% off",UV Protection Retro Square Sunglasses (54),79% off
98,Aarna Fashion,"₹443₹1,29965% off",UV Protection Shield Sunglasses (Free Size),66% off
99,Fastrack,₹169₹99983% off,"Gradient, UV Protection Wayfarer Sunglasses (F...",40% off

# question 5 scrap the data for apple iphone 11

In [11]:
driver=webdriver.Chrome()

In [13]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ')

#the message shown that this webpage is moved or deleted

# Question 6 scrap the data for 100 sneakers

In [15]:
driver=webdriver.Chrome()

In [16]:
url='https://www.flipkart.com/'
driver.get(url)

In [17]:
product= driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys('sneaker')

In [18]:
search= driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [28]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [31]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [32]:
print(len(B_name[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100

(None, None, None)

In [33]:
# crating data frame
sne_k=pd.DataFrame({})
sne_k['Brand']=B_name[:100]
sne_k['Description']= P_desc[:100]
sne_k['Discount']=Discount[:100]

sne_k

        Brand                                        Description Discount
0      VECHLO           Exclusive Sneaker Shoes Sneakers For Men  64% off
1      BRUTON                                 Sneakers For Women  76% off
2   Deals4you  Trending Stylish Casual Outdoor Shoes Sneakers...  70% off
3    URBANBOX  Casual Sneaker Shoes for Men | Soft Cushioned ...  70% off
4    RED TAPE  Casual Shoes| Caual Sneakers| White Sneakers F...  78% off
..        ...                                                ...      ...
95   RED TAPE              Premium casual Shoes Sneakers For Men  78% off
96     BRUTON  Casual Sneakers Canvas High Top Boots For Boys...  76% off
97     BRUTON                     Shuffle Ultra Sneakers For Men  76% off
98       ATOM      Modern Trendy Sneakers Shoes Sneakers For Men  66% off
99   Shoe Lab  Casual Sneaker Shoes for Women | Soft Cushione...  53% off

[100 rows x 3 columns]

# Question 7 data scraping for Laptop

In [49]:
driver=webdriver.Chrome()

In [50]:
driver.get('https://www.amazon.in/')

In [51]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('laptop')

In [52]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [57]:
Title=[]
Price=[]
Rating=[]

In [68]:
 for i in range(3):
    b_name=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
    rating=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
    price =driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    
    
    for j  in b_name:
        Title.append(j.text)
    Title[:10]    
    
    
    
    for k in rating:
        P_desc.append(k.text)
    Rating[:10] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:10]

WebDriverException: Message: disconnected: not connected to DevTools
  (failed to check if window was closed: disconnected: not connected to DevTools)
  (Session info: chrome=121.0.6167.161)
Stacktrace:
	GetHandleVerifier [0x00007FF6266E5E42+3538674]
	(No symbol) [0x00007FF626304C02]
	(No symbol) [0x00007FF6261B5AEB]
	(No symbol) [0x00007FF6261A273F]
	(No symbol) [0x00007FF6261A22B0]
	(No symbol) [0x00007FF6261B7BF1]
	(No symbol) [0x00007FF62623B437]
	(No symbol) [0x00007FF62621EE53]
	(No symbol) [0x00007FF6261EF514]
	(No symbol) [0x00007FF6261F0631]
	GetHandleVerifier [0x00007FF626716CAD+3738973]
	GetHandleVerifier [0x00007FF62676C506+4089270]
	GetHandleVerifier [0x00007FF626764823+4057299]
	GetHandleVerifier [0x00007FF626435C49+720121]
	(No symbol) [0x00007FF62631126F]
	(No symbol) [0x00007FF62630C304]
	(No symbol) [0x00007FF62630C432]
	(No symbol) [0x00007FF6262FBD04]
	BaseThreadInitThunk [0x00007FFE081C257D+29]
	RtlUserThreadStart [0x00007FFE090CAA58+40]

# question 8 data scraping for quotes

In [71]:
driver=webdriver.Chrome()

In [73]:
driver.get('https://www.azquotes.com/')

In [74]:
quotes=[]
author=[]
quote_type=[]

In [75]:
#scrapping data top quotes
for i in range(10):
    t_quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')
    
    for j in t_quotes:
        quotes.append(j.text)
    quotes[:1000]

In [76]:
print(len(quotes[:1000]))

1000

In [77]:
#scrapping data for author

for i in range(10):
    t_author=driver.find_elements(By.XPATH,'//div[@class="author"]')
    
    for k in t_author:
        author.append(k.text)
    author[:1000]

In [78]:
print(len(author[:1000]))

1000

In [79]:
#scrapping data for quote type

for i in range(10):
    t_quotetype=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    
    for l in t_quotetype:
        quote_type.append(l.text)
    quote_type[:1000]

In [80]:
print(len(quote_type[:1000]))

1000

In [81]:
# making data frame

qt=pd.DataFrame({})
qt['Top Quotes']=quotes[:1000]
qt['Author']=author[:1000]
qt['Quote-Type']=quote_type[:1000]

qt

,Top Quotes,Author,Quote-Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [102]:
driver.close()

# scraping data for 50 most expensive car

In [92]:
driver=webdriver.Chrome()

In [93]:
driver.get('https://www.motor1.com/')

In [94]:
product=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
product.send_keys('50 most expensive cars in the world')

In [95]:
search=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [96]:
car_name=[]
car_price=[]

In [97]:
#scraping data for car name

for i in range(1):
    c_name=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
    
    for j in c_name:
        car_name.append(j.text)
        car_name[:50]

In [98]:
len(car_name[:50])

50

In [99]:
#scraping data for price

for i in range(1):
    c_price= driver.find_elements(By.XPATH,'//h3[@class="subheader"]/span')
    
    for k in c_price:
        car_price.append(k.text)
        car_price[:50]

In [100]:
len(car_price[:50])

50

In [101]:
#making data frame

car= pd.DataFrame({})
car['Car Name']=car_name[:50]
car['Car Price']=car_price[:50]

car

                              Car Name Car Price
0                  Aston Martin Valour
1                         McLaren Elva
2                          Czinger 21C
3                        Ferrari Monza
4                   Gordon Murray T.33
5                    Koenigsegg Gemera
6                          Zenvo TSR-S
7                   Hennessey Venom F5
8                      Bentley Bacalar
9        Hispano Suiza Carmen Boulogne
10              Bentley Mulliner Batur
11                        Deus Vayanne
12                         SSC Tuatara
13                         Lotus Evija
14                 Aston Martin Vulcan
15                          Delage D12
16                 Ferrari Daytona SP3
17                   McLaren Speedtail
18                        Rimac Nevera
19                       Pagani Utopia
20                Pininfarina Battista
21                  Gordon Murray T.50
22                Lamborghini Countach
23            Mercedes-AMG Project One
24                        Zenvo Aurora
25                 Aston Martin Victor
26         Hennessey Venom F5 Roadster
27                    Koenigsegg Jesko
28               Aston Martin Valkyrie
29           W Motors Lykan Hypersport
30                       McLaren Solus
31                    Lamborghini Sian
32                    Koenigsegg CC850
33     Bugatti Chiron Super Sport 300+
34                  Lamborghini Veneno
35                      Bugatti Bolide
36           Pininfarina B95 Speedster
37                     Bugatti Mistral
38                 Pagani Huayra Imola
39                        Bugatti Divo
40                 SP Automotive Chaos
41                    Pagani Codalunga
42                        777 Hypercar
43            Mercedes-Maybach Exelero
44                  Bugatti Centodieci
45             Bugatti Chiron Profilée
46                Rolls-Royce Sweptail
47            Bugatti La Voiture Noire
48              Rolls-Royce Boat Tail*
49  Rolls-Royce La Rose Noire Droptail

# scraping data for data analyst job

In [103]:
driver=webdriver.Chrome()

In [104]:
driver.get('https://www.shine.com/')

In [105]:
position= driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
position.send_keys('data analyst')

In [106]:
location= driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('banglore')

In [123]:
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [108]:
job_title=[]
job_location=[]
c_name=[]
exp_req=[]

In [109]:
#scraping data for job title

title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_features__wJid6"]')

for i in title_tags:
    job_title.append(i.text)
    job_title[:10]

In [110]:
len(job_title[:10])

10

In [111]:
#scraping data for location

location_tags= driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

for i in location_tags:
    job_location.append(i.text)
    job_location[:10]

In [112]:
len(job_location[:10])

10

In [113]:
#scraping data for company name

name_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

for i in name_tags:
    c_name.append(i.text)
    c_name[:10]

In [114]:
len(c_name[:10])

10

In [115]:
#scraping data for experience required

exp_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

for i in exp_tags:
    exp_req.append(i.text)
    exp_req[:10]

In [116]:
len (exp_req[:10])

10

In [117]:
# crating data frame

dt= pd.DataFrame({})
dt['Title']=job_title[:10]
dt['Location']=job_location[:10]
dt['company Name']=c_name[:10]
dt['Experience']=exp_req[:10]

dt

,Title,Location,company Name,Experience
0,2 weeks ago,Bangalore,ara resources private limited,4 to 9 Yrs
1,3 weeks ago,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
2,1 month ago,Canada\n+14,yogita staffing solution,0 to 3 Yrs
3,1 month ago,Gurugram\n+6,techno endura,0 to 1 Yr
4,7 days ago,China\n+18,future solution centre,15 to >25 Yrs
5,3 weeks ago,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,3 weeks ago,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
7,3 weeks ago,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,3 weeks ago,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
9,2 months ago,Mumbai City\n+4,quiscon biotech,0 to 2 Yrs

In [118]:
driver.close()

# data for data scientist

In [136]:
driver=webdriver.Chrome()

In [137]:
driver.get('https://www.shine.com/')

In [140]:
position= driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
position.send_keys('data scientist')

In [141]:
location= driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('banglore')

In [142]:
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [143]:
job_title=[]
c_name=[]
job_location=[]

In [144]:
#scraping data for company name

name_tag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

for i in name_tag:
    c_name.append(i.text)
    c_name[:10]

In [145]:
print(len(c_name[:10]))

10

In [146]:
#scraping data for job title

title_tag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_features__wJid6"]')

for i in title_tag:
    job_title.append(i.text)
    job_title[:10]

In [147]:
len(job_title[:10])

10

In [148]:
# scraping data for job location

loc=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

for i in loc:
    job_location.append(i.text)
    job_location[:10]

In [149]:
len(job_location[:10])

10

In [151]:
#making data frame

ds=pd.DataFrame({})
ds['Company Name']=c_name[:10]
ds['Job Title']=job_title[:10]
ds['location']=job_location[:10]

ds

                             Company Name             Job Title       location
0  gujarat facility services hiring fo...       Hot\n3 days ago  Bangalore\n+3
1                      renuka interprises            4 days ago    Canada\n+15
2                      renuka interprises            1 week ago    Canada\n+15
3                      renuka interprises            1 week ago    Canada\n+15
4           acme services private limited           3 weeks ago   Gurugram\n+4
5                     ltimindtree limited  Premium\n3 weeks ago      Bangalore
6                                 fractal          2 months ago  Bangalore\n+1
7                yogita staffing solution           1 month ago    Canada\n+14
8                                neostats           1 month ago  Bangalore\n+1
9                                   aereo           1 month ago  Bangalore\n+1

In [152]:
driver.close()

# scraping data for data scientist for delhi

In [153]:
driver=webdriver.Chrome()

In [154]:
driver.get('https://www.shine.com/')

In [156]:
position= driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
position.send_keys('data analyst')

In [157]:
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [160]:
job_title=[]
job_location=[]
c_name=[]
exp_req=[]

In [161]:
#scrapping data for job title

title=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_features__wJid6"]')

for i in title:
    job_title.append(i.text)
    job_title[:10]

In [162]:
len(job_title[:10])

10

In [163]:
#scraping data for location

loc=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

for i in loc:
    job_location.append(i.text)
    job_location[:10]

In [164]:
len(job_location[:10])

10

In [165]:
#scraping data for c_name

name=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')

for i in name:
    c_name.append(i.text)
    c_name[:10]

In [166]:
len(c_name[:10])

10

In [167]:
#scraping data for experience

exp= driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

for i in exp:
    exp_req.append(i.text)
    exp_req[:10]

In [168]:
len(exp_req[:10])

10

In [169]:
#creating data frame

ds=pd.DataFrame({})
ds['Job Title']=job_title[:10]
ds['Company Name']=c_name[:10]
ds['Location']=job_location[:10]
ds['Experience Required']=exp_req[:10]

ds

         Job Title            Company Name   Location Experience Required
0       1 week ago      sharda it services  Delhi\n+2          2 to 5 Yrs
1       1 week ago      sharda it services  Delhi\n+2          1 to 6 Yrs
2      1 month ago           techno endura  Delhi\n+6           0 to 1 Yr
3     2 months ago           techno endura  Delhi\n+6           0 to 1 Yr
4     2 months ago           techno endura  Delhi\n+6           0 to 1 Yr
5      1 month ago  future solution centre  Delhi\n+9        10 to 20 Yrs
6      3 weeks ago           techno endura  Delhi\n+6           0 to 1 Yr
7   Hot\n1 day ago           techno endura  Delhi\n+8          0 to 2 Yrs
8   Hot\n1 day ago           techno endura  Delhi\n+8          0 to 2 Yrs
9  Hot\n2 days ago      mahima consultancy  Delhi\n+9               0 Yrs

In [171]:
driver.close()